

$footerHeight: 30px;
$fontSize: 16px;

@mixin smallScroll{
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.5);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner{
    background-color: rgba(0, 0, 0, 0.0);
  }
}