//
$headerHeight: 30px;
$footerHeight: 30px;
$headerPad: 0px;
$footerPad: 7.5px;
//
$navWidth: 150px;
$navFoldWidth: 50px;
//
$fontSize: 16px;
//
$narrowWidth: 1440px;//这个是针对文件列表这种特大号的列表重排版的
$tabletWidth: 1024px;
$mobileWidth: 600px;
//
$colors: (
        selection:rgba(50, 50, 50, 1),
        selection_bk:rgba(200, 200, 200, 1),
        bk:rgba(50, 50, 50, 1),
        bar_bk:rgba(20, 20, 20, 1),
        bar_active:rgba(50, 50, 50, 1),
        bar_shadow:box,
        nav_bk:rgba(30, 30, 30, 1),
        nav_active:rgba(50, 50, 50, 1),
        alpha:rgba(0, 0, 0, 0.5),
        font:rgba(200, 200, 200, 1),
        header_bread_bk:rgba(30, 30, 30, 1),
  //
        input_font:rgba(200, 200, 200, 1),
        input_bk:rgba(30, 30, 30, 1),
        input_font_active:rgba(200, 200, 200, 1),
        input_bk_active:rgba(80, 80, 80, 1),
  //
        input_button_font:rgba(200, 200, 200, 1),
        input_button_bk:rgba(20, 20, 20, 1),
        input_button_font_active:rgba(200, 200, 200, 1),
        input_button_bk_active:rgba(80, 80, 80, 1),
        tag_font:rgba(180, 180, 180, 1),
        tag_font_active:rgba(230, 230, 230, 1),
        //
        list_bk_2:rgba(60, 60, 60, 1),
);
$layoutIndex: 500;
$alphaIndex: 1000;
$msgColors: (
        success:rgba(1, 24, 38, 1),
        info:rgba(1, 38, 35, 1),
        notice:rgba(1, 52, 64, 1),
        warn:rgba(166, 101, 86, 1),
        error:rgba(191, 52, 77, 1),
);
$sizeConf: (
  //内容列表最小的宽度为 1024-150 = 874
  //缩略图宽 x 详情宽 x tag 宽 y
  //tag : (2x+y) noTag : (2x)
  //y->2x 一行 x6 x=
        list_detail_image_thumb_h:140px,
        list_image_body_w:200px,
        list_image_body_h:280px,
        list:'',
);
/*
 *  @see https://www.cnblogs.com/amylis_chen/p/11995324.html
 *  @see https://www.cnblogs.com/ertingbo/p/7151566.html
 */
@mixin smallScroll {
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar {
    width: $fontSize*0.25;
    height: $fontSize*0.25;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.5);
    border-radius: $fontSize*0.25;
  }
  &::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.0);
  }
}
.pointer {
  cursor: pointer;
}
